In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
df = pd.read_csv('/Users/pavansai/desktop1/Python/EDA/csv/colon (1).csv').drop('Unnamed: 0',axis=1)

In [3]:
df.head()

,id,study,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time,etype
0,1,1,1,43,0,0,0,5.0,1,2.0,3,0,1,1521,2
1,1,1,1,43,0,0,0,5.0,1,2.0,3,0,1,968,1
2,2,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087,2
3,2,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087,1
4,3,1,0,71,0,0,1,7.0,1,2.0,2,0,1,963,2

In [4]:
df.shape

(1858, 15)

In [5]:
df.isnull().sum()

id           0
study        0
sex          0
age          0
obstruct     0
perfor       0
adhere       0
nodes       36
status       0
differ      46
extent       0
surg         0
node4        0
time         0
etype        0
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1776.0,466.506757,269.321338,1.0,234.75,466.5,700.25,929.0
study,1776.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
sex,1776.0,0.518018,0.499816,0.0,0.00,1.0,1.00,1.0
age,1776.0,59.810811,11.911137,18.0,53.00,61.0,69.00,85.0
obstruct,1776.0,0.192568,0.394427,0.0,0.00,0.0,0.00,1.0
perfor,1776.0,0.030405,0.171748,0.0,0.00,0.0,0.00,1.0
adhere,1776.0,0.144144,0.351335,0.0,0.00,0.0,0.00,1.0
nodes,1776.0,3.663288,3.539129,0.0,1.00,2.0,5.00,33.0
status,1776.0,0.493243,0.500095,0.0,0.00,0.0,1.00,1.0
differ,1776.0,2.061937,0.510833,1.0,2.00,2.0,2.00,3.0
extent,1776.0,2.884009,0.478322,1.0,3.00,3.0,3.00,4.0
surg,1776.0,0.268018,0.443052,0.0,0.00,0.0,1.00,1.0
node4,1776.0,0.264640,0.441265,0.0,0.00,0.0,1.00,1.0
time,1776.0,1542.555180,946.741234,8.0,573.00,1856.0,2331.00,3329.0
etype,1776.0,1.500000,0.500141,1.0,1.00,1.5,2.00,2.0

In [8]:
df.etype.value_counts(normalize=True) # etype is target col that is balanced

2    0.5
1    0.5
Name: etype, dtype: float64

In [9]:
X = df.drop('etype',axis=1)
y = df['etype']
seed = 7

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=seed)

In [11]:
model = LogisticRegression(solver='newton-cg')

In [12]:
y_train.value_counts(normalize=True)*100

1    50.683829
2    49.316171
Name: etype, dtype: float64

In [13]:
y_test.value_counts(normalize=True)*100

2    51.594747
1    48.405253
Name: etype, dtype: float64

In [14]:
model.fit(X_train,y_train)

LogisticRegression(solver='newton-cg')

In [15]:
ytestPr = model.predict(X_test)
ytrainPr = model.predict(X_train)

In [16]:
model_score = model.score(X_test,y_test)
model_score

0.5647279549718575

In [17]:
print("Confusion Matrix",'\n', metrics.confusion_matrix(y_test,ytestPr),'\n')
print("Classification report",'\n', metrics.classification_report(y_test,ytestPr))

Confusion Matrix
 [[144 114]
 [118 157]]

Classification report
               precision    recall  f1-score   support

           1       0.55      0.56      0.55       258
           2       0.58      0.57      0.58       275

    accuracy                           0.56       533
   macro avg       0.56      0.56      0.56       533
weighted avg       0.56      0.56      0.56       533