In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/Users/pavansai/desktop1/Python/EDA/csv/Multi_LR.csv')

In [3]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

AT - Temperature
AP - Pressure
V - Vacuum
RH - Relative Humidity
PE - Hourly electrical energy

In [4]:
X = df.drop('PE',axis=1)
y = df[['PE']]

In [5]:
X.head()

      AT      V       AP     RH
0  14.96  41.76  1024.07  73.17
1  25.18  62.96  1020.04  59.08
2   5.11  39.40  1012.16  92.14
3  20.86  57.32  1010.24  76.64
4  10.82  37.50  1009.23  96.62

In [6]:
y.head()

       PE
0  463.26
1  444.37
2  488.56
3  446.48
4  473.90

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lr = LinearRegression()

In [11]:
lr.fit(X_train,y_train)

LinearRegression()

In [12]:
yTestPr = lr.predict(X_test)
yTestPr,y_test

(array([[455.59846369],
        [438.68009712],
        [434.119178  ],
        ...,
        [472.39913842],
        [476.10393901],
        [442.00430919]]),
           PE
 2513  455.27
 9411  436.31
 8745  440.68
 9085  434.40
 4950  482.06
 ...      ...
 981   453.02
 4694  433.27
 1407  477.18
 535   481.95
 5327  441.57

 [2871 rows x 1 columns])

In [13]:
from sklearn.metrics import mean_absolute_error

In [14]:
mae_test = mean_absolute_error(yTestPr,y_test)
mae_test

3.6499328441754617

In [15]:
rmse = np.sqrt(mae_test)
rmse

1.9104797418908848

In [19]:
lr.score(X_test,y_test)

0.9275484963869203

In [17]:
lr.coef_

array([[-2.00441576, -0.22712731,  0.04930096, -0.15997334]])

In [18]:
lr.intercept_

array([467.84141773])